.new-cost {
    background-color: white;
    padding: 1rem;
    margin: 2rem auto;
    width: 70rem;
    max-width: 95%;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 0 8px #00000040;
    transition: .2s all;
}

.new-cost:hover,
.new-cost:focus {
    box-shadow: 0 0 8px #00000080;
    transition: .2s all;
}

.new-cost button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 2px solid #EAEAEA;
    box-shadow: 0 0 4px #00000080;
    background-color: chocolate;
    color: #fefae1;
    border-radius: 10px;
    margin-right: 3px;
    transition: .1s all;
    position: relative;
}

.new-cost button:hover {
    background-color: chocolate;
    border-color: #757575;
    box-shadow: 0 0 4px chocolate;
    transition: .1s all;
}

.new-cost button:active {
    background-color: #757575;
    border-color: black;
    box-shadow: 0 0 4px chocolate;
    transition: 0s all;
}

@media (min-width: 768px) {

    .new-cost__button-add:hover {
        animation: slidein;
    }

    @keyframes slidein {
        from {
            right: -100%;
        }

        to {
            right: -80px;
        }
    }

    .new-cost__button-add:hover::after {
        content: '';
        display: block;
        width: 80px;
        height: 80px;
        background: url("/img/suspicious-krabs.png") no-repeat content-box;
        background-size: contain;
        position: absolute;
        top: -80%;
        right: -80px;
        animation: slidein 1s ease-out;

    }

    .new-cost__button-add:active::after {
        background-image: url("/img/shoked-krabs.png");
    }
}
