body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  background-image: url("../img/background-pattern.jpg");
  background-repeat: repeat;
}

.main-title {
  display: flex;
  align-items: center;
  color: chocolate;
  border: 2px solid #CCCCCC;
  background-color: white;
  width: max-content;
  padding: 10px;
  border-radius: 30px;
}

.main-title::before {
  content: '$';
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #ffe640;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid chocolate;
  box-shadow: 0 0 0 2px #ff9921;
  position: relative;
  animation: flip 3s infinite;
}

@keyframes flip {
  0%,20% {
    transform: rotateY(72deg)
  }
  20%,40% {
    transform: rotateY(72deg)
  }
  40%,80% {
    transform: rotateY(144deg)
  }
}


@media (max-width: 767px) {
  .main-title {
    display: flex;
    align-items: center;
    color: chocolate;
    border: 2px solid #CCCCCC;
    background-color: white;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 30px;
  }
}