.card {
    background-color: white;
    border-radius: 18px;
    box-shadow: 0 0 8px #00000040;
    transition: .2s all;
}

.card:hover,
.card:focus {
    box-shadow: 0 0 8px #00000080;
    transition: .2s all;
}
